.header {
  background: #FFFEFC;
  padding: 16px 0;
  border-bottom: none;
}

.header-container {
  max-width: 1150px;
  margin: 0 auto;
  padding: 0 20px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo img {
  height: 43px;
  cursor: pointer;
}

.nav-links {
  display: flex;
  gap: 32px;
}

.nav-links a {
  color: #111;
  text-decoration: none;
  font-weight: 600;
  font-size: 17px;
  font-family: "M PLUS 1p", sans-serif;
}

.nav-links a.active {
  color: #C4297B;
  text-decoration: underline;
  text-underline-offset: 4px;
}

.header-actions {
  display: flex;
  align-items: center;
  gap: 16px;
}

.language {
  font-size: 16px;
  color: #111;
  cursor: pointer;
  font-family: "M PLUS 1p", sans-serif;
}

.lang-toggle {
  background: none;
  border: 1px solid #ccc;
  padding: 6px 12px;
  border-radius: 8px;
  font-size: 14px;
  cursor: pointer;
}

.login-btn {
  background-color: #9C2476;
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 600;
  font-family: "M PLUS 1p", sans-serif;
  cursor: pointer;
}

.login-btn:hover {
  opacity: 0.9;
}

:root {
  --bg-header: #FFFEFC;
  --text-primary: #333;
  --btn-login: #9C2476;
  --btn-theme: #C4297B;
}

body.dark {
  --bg-header: #292828;
  --text-primary: #f5f5f5;
  --btn-login: #880d82;
  --btn-theme: #911961;
}

.header {
  background-color: var(--bg-header);
  padding: 16px 0;
  color: var(--text-primary);
  border-bottom: none;
}

.nav-links a {
  color: var(--text-primary);
}

.login-btn {
  background-color: var(--btn-login);
  color: white;
}

.theme-toggle {
  background-color: var(--btn-theme);
  width: 24px;
  height: 24px;
  border-radius: 50%;
  cursor: pointer;
}
body.dark .nav-links a,
body.dark .language {
  color: #f5f5f5;
}

body.dark .nav-links a:hover,
body.dark .language:hover {
  color: #C4297B;
}