body {
  margin: 0;
   font-family: "M PLUS 1p", sans-serif;
   font-weight: 700;
   background-color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
